
<div class="listbutton">
  <form  action="/index" method="GET">
    <button type="submit" name="/index">ENTIRE LIST</button>

  </form>
</div>
<div class="createbutton">
  <form  action="/new" method="GET">
  <button type="submit" name="/new">CREATE NEW LIST</button>
  </form>
</div>

<%# <a href="/index">LIST ALL NAMES AND IDS OF TODOS</a>
  <a href="/new">CREATE NEW TODOS</a>%>
