
<div class="listbutton">
  <button type="button" name="list" href = "/index">ENTIRE LIST</button>
</div>
<div class="createbutton">
  <button type="button" name="create" href="/new">CREATE NEW LIST</button>
</div>

  <!-- <a href="/index">LIST ALL NAMES AND IDS OF TODOS</a>
  <a href="/new">CREATE NEW TODOS</a> -->
