<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THINGS I GOTTA DO!</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Gloria+Hallelujah|Josefin+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
  </head>
  <body>
    <header >
      <a href="/" class="pageTitle"><h1>THE THINGS I GOTTA DO</h1></a>
    </header>
    <section>
      <%- body %>
    </section>
    <footer>
      <p class="footer">Created by Smiles and Cocktails</p>
    </footer>
  </body>
</html>
